<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Document</title>

  
  <link rel="stylesheet" href="/bower_components/bootstrap/dist/css/bootstrap.min.css">
  <link rel="stylesheet" href="/css/style.css">
  <script src="/bower_components/angular/angular.min.js"></script>
  <script src="/js/module.js"></script>
  <script src="/js/controllers.js"></script>
  <script src="/js/services.js"></script>
  



</head>
<body ng-app='myApp' ng-controller='mainCtrlsu'>
  <h1><%= title %></h1>
</body>
</html>